.enfermedad{
    max-width: 100vh;
    padding-top: 40px;
}

.nombreEnfermedad {
    max-width: 700px;
    max-height: 100px;
    background-color: #2b2d42;
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 500;
    margin: 0 auto;
    border-radius: 20px;
  }

.enfermedadRow{
    padding-top: 30px;
    padding-bottom: 80px;
    max-width: 200vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.modeloSec{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 500px;
    position: relative;
}

.modeloSec canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

.modeloPal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.text {
padding: 2rem 1rem;
text-align: center;
font-size: large;
max-width: 200vh;
margin: auto;
}

.text h2 {
font-size: 40px;
color: #0D1533;
margin-bottom: 3rem;
}

.pill {
    display: inline-block;
    padding: 0.4em 1em;
    background-color: #FF6B6B; /* or any color */
    color: white;
    border-radius: 999px; /* makes it pill-shaped */
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.text p {
font-size: 1rem;
color: #333;
max-width: 600px;
margin: 0 auto 2rem;
}