footer {
  background-color: #225dca;
  color: white !important;
}

hr {
  margin-top: 0;
  margin-bottom: 10px; /* Ajusta según sea necesario */
}

a {
  text-decoration: none;
}

footer {
  background-color: #225dca;
  color: white !important;
  padding: 20px 0;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer a {
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 5px;  
  line-height: 1.2;    
}

footer p {
  color: white;
  margin: 0;
}
footer h3 {
  color: white;
  font-size: 1.3rem;  
  margin-bottom: 10px; 
  font-weight: normal;
}

.copyright {
  width: 100%;
  padding: 10px 0 0 20px;  
  font-size: 0.9rem;

}